<style>

caption{
color: black;
position: center

}
table,td {
  border: 0px solid turquoise;
  background-color: #b3ccff;
  position: center;
  padding: 4px;
  color: black;
  width: 100%
}
th, td {
  padding: 25px;
}


</style>

<div ng-controller="JobController as ctrl">
<table align="center">

<tr>
<td colspan="3" align="center"></td>
</tr>


<tr>
<td>COMPANY NAME-<td><td>{{selectedJob.companyName}}</td>
</tr>
<tr>
<td>LOCATION-<td><td>{{selectedJob.location}}</td>
</tr>
<tr>
<td>JOB DESCRIPTION-<td><td>{{selectedJob.description}}</td>
</tr>
<tr>
<td>POSTED ON -<td><td>{{selectedJob.jobDate | date }}</td>
</tr>
<tr>
<td>STATUS-<td><td>{{selectedJob.status}}</td>
</tr>


<a href="#" ng-hide=" currentUser.role == 'ADMIN'" ng-click="ctrl.applyForJob(selectedJob,selectedJob.jobId)" class="btn btn-common">Apply job</a> 
              
              <br>
              <br>
              
              <a href="#!editJobDetails" ng-show=" currentUser.role == 'ADMIN' " ng-click="ctrl.updateJob(selectedJob,job.jobId)" class="btn btn-common">EDIT</a> 
              

</table>
</div>