<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Add Forum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        form * {
    border-radius:0 !important;
}

form > fieldset > legend {
    font-size:120%;
}
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <form role="form" method="POST" action="#">

                    <legend class="text-center">Create new Forum</legend>

                    <fieldset>
                        <legend></legend>

                       


                        <div class="form-group col-md-6">
                            <label for="text">ForumName</label>
                            <input type="text" placeholder="Enter ForumName" ng-model="ctrl.forum.forumName" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="text">ForumDescription</label>
                            <input type="Name" placeholder="Enter ForumDescription" ng-model="ctrl.forum.forumDescription"  required>
                        </div>
						

                       
						

                    </fieldset>

                  

                   

                    <div class="form-group">
                        <div class="col-md-12">
                            <button ng-click="ctrl.createForum(ctrl.forum)" type="button" class="btn btn-primary btn-lg btn-block login-button">AddForum</button>
                           
                        </div>
                        <div class="login-register">
                                        
                       </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
<script type="text/javascript">

</script>
</body>
</html>
