<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        form * {
    border-radius:0 !important;
}

form > fieldset > legend {
    font-size:120%;
}
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <form role="form" method="POST" action="#">

                    <legend class="text-center">Register New Account</legend>

                    <fieldset>
                        <legend>Enter Account Details</legend>

                        <div class="form-group col-md-6">
                            <label for="name">Name</label>
                            <input type="text" placeholder="Enter  Full Name" ng-model="ctrl.user.name" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="usrId">User-ID</label>
                            <input type="text" placeholder="Enter User ID" ng-model="ctrl.user.userId" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="password" placeholder="Enter Password" ng-model="ctrl.user.password" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="dob">Date Of Birth</label>
                            <input type="date" placeholder="Enter DOB" ng-model="ctrl.user.dob"  required>
                        </div>
						&nbsp;&nbsp;
                        <label for="gender"><b>Gender</b></label>
                        <select ng-model="ctrl.user.gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        </select>
						 &nbsp;&nbsp;

                        <div class="form-group col-md-6">
                            <label for="email">Email Id</label>
                            <input type="text" placeholder="Enter Email" ng-model="ctrl.user.email" required>
                        </div>
						
						 <div class="form-group col-md-6">
                            <label for="desc">Description</label>
                            <input type="text" placeholder="Enter Description" ng-model="ctrl.user.description" required>
                         </div>
						 
						  <div class="form-group col-md-6">
                            <label for="address">Address</label>
                            <input type="text" placeholder="Address" ng-model="ctrl.user.address" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="contactNo">Contact No</label>
                            <input type="text" placeholder="contactNo" ng-model="ctrl.user.contactNo" required>
                        </div>


                    </fieldset>

                  

                   

                    <div class="form-group">
                        <div class="col-md-12">
                            <button ng-click="ctrl.createUser(ctrl.user)" class="registerbtn">Sign Up</button>
                            <a href="#!loginUserAccount">Already have an account?</a>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
<script type="text/javascript">
$(document).ready(function() {
    $('#found_site').on('change', function() {
       $(this).val() == "other" ? $('#specify').closest('.form-group').show() : $('#specify').closest('.form-group').hide();
    })
})
</script>
</body>
</html>
